[submodule "siderust"]
	path = siderust
	url = git@github.com:Siderust/siderust.git
[submodule "siderust-ffi"]
	path = siderust-ffi
	url = git@github.com:Siderust/siderust-ffi.git
[submodule "qtty-cpp"]
	path = qtty-cpp
	url = git@github.com:VPRamon/qtty-cpp.git
